.main{
    background-image: url(n.jpg);
    display: flex;
justify-content: space-between;
}
.post1{
    
width: 300px;
height: 600px;
border-radius: 30px;
overflow: hidden;
box-shadow: 08px 20px;

}
.post2{
    im
 color:gold;
width: 300px;
height: 600px;
border-radius: 30px;
overflow: hidden;
box-shadow: 08px 20px;

}
.post3{
    color:black;
width: 300px;
height: 600px;
border-radius: 30px;
overflow: hidden;
box-shadow: 08px 20px;

}